@font-face {
	font-family: "Comic Sans S";
	src: url(comicsans.ttf);
}

body {
    background-image: url("stars.gif");
    background-repeat: repeat-xy;
}

div {
font-size: 36px;  
font-family: "Comic Sans S";
color: white;
}

img {
	max-height: 400px;
	max-width: 400px;
}
